@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
}

:root {
  --primary: #fdfefe;
  --secondary: #f2f3f4;
  --accent: #979a9a;
}

body {
  background-color: var(--primary);
}
